<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.dao.BoardMapper">
	<!-- 게시판 전체리스트 + 검색 -->
	<select id="selectAll" resultType="com.java.dto.BoardDto">
		<!-- select * from board order by bno desc -->
		<!-- select * from board order by bgroup desc, bstep asc -->

		<!-- 순번 매기기 -->
		<!-- select row_number() over (order by bgroup desc, bstep asc) rnum,a.*from board a -->
		<!-- 순번 매겨서 10개씩 가져오기 -->
		select * from(select row_number() over (order by bgroup desc, bstep asc) rnum,a.* from	board a
		<if test="category == 'btitle' or category == 'bcontent'">
			where ${category} like '%'||#{searchW}||'%'
		</if>
		<if test="category == 'all'">
			where btitle like '%'||#{searchW}||'%' or bcontent like '%'||#{searchW}||'% '
		</if>
		)
		where rnum between #{startrow} and #{endrow}
	</select>
		<!-- === 페이지 하단 넘버링 ===-->
		<!-- 게시글 전체 개수 + 검색어 전체개수  -->
	<select id="countAll" resultType="int">
		select count(*) from board
		<if test="category == 'btitle' or category == 'bcontent'">
			where ${category} like '%'||#{searchW}||'%'
		</if>
		<if test="category == 'all'">
			where btitle like '%'||#{searchW}||'%' or bcontent like '%'||#{searchW}||'%'
		</if>
	</select>
	

	<!-- 게시판 쓰기 저장 -->
	<insert id="insertBoard">
		insert into board values(
		board_seq.nextval,#{btitle},#{bcontent},#{id},board_seq.currval,0,0,0,sysdate,#{bfile}
		)
	</insert>

	<!-- 게시판 상세보기 -->
	<select id="selectOne" resultType="com.java.dto.BoardDto">
		select * from board where bno
		= #{bno}
	</select>
	<!-- 조회수 1증가 -->
	<update id="updateBhit">
		update board set bhit = bhit+1 where bno = #{bno}
	</update>
	<!-- ## 이전 게시글 정보 ## -->
	<select id="selectOnePrev" resultType="com.java.dto.BoardDto">
		select * from board where
		bno=(
		select prev_bno from
		(select bno,lead(bno,1,-1) over(order by
		bgroup desc, bstep asc) as prev_bno
		from board) where bno = #{bno})
	</select>
	<!-- ## 다음 게시글 정보 ## -->
	<select id="selectOneNext" resultType="com.java.dto.BoardDto">
		select * from board where
		bno=(
		select prev_bno from
		(select bno,lag(bno,1,-1) over(order by
		bgroup desc, bstep asc) as prev_bno
		from board) where bno = #{bno})
	</select>

	<!-- 게시글 삭제 -->
	<delete id="deleteBoard">
		delete board where bno = #{bno}
	</delete>

	<!-- 게시글 수정 저장 -->
	<update id="updateBoard">
		update board set btitle = #{btitle}, bcontent =
		#{bcontent}, bdate = sysdate where bno = #{bno}
	</update>

	<!-- #### 답변달기 저장 #### -->
	<!-- 자식게시글 bstep +1 -->
	<update id="bstepUp">
		update board set bstep = bstep+1 where bgroup =
		#{bgroup} and bstep > #{bstep}
	</update>
	<!-- 답변달기 저장 -->
	<insert id="insertBreply">
		insert into board values(
		board_seq.nextval,#{btitle},#{bcontent},#{id},#{bgroup},#{bstep}+1,#{bindent}+1,0,sysdate
		)
	</insert>



</mapper>