<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<mapper namespace="com.java.dao.MemberMapper">

	<!-- 로그인 체크 -->
	<select id="selectLogin" resultType="com.java.dto.MemberDto">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	
	<!-- 회원 전체 가져오기 (React) -->
	<select id="selectAll" resultType="com.java.dto.MemberDto">
		select * from member
	</select>
	
	<!-- 회원 1명 가져오기 (React) -->
	<select id="selectOne" resultType="com.java.dto.MemberDto">
		select * from member where id=#{id}
	</select>
</mapper>
