<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.java.dao.EventMapper">

	<!-- 이벤트 리스트 -->
	<select id="selectAll" resultType="com.java.dto.EventDto">
		<!-- <![CDATA[]]> => '<' 를 문자로 인식하게 함 -->
		<![CDATA[ 
		select * from event where rownum <=4 order by eno desc
		]]>
		<!-- 
		select * from event where rownum between 1 and 4 order by eno desc
		 -->
	</select>
	
	<!-- 이벤트 상세보기 -->
	<select id="selectOne" resultType="com.java.dto.EventDto">
		select * from event where eno = #{eno}
	</select>
	
	<!-- 하단댓글 가져오기  -->
	<select id="selectAllCboard" resultType="com.java.dto.CboardDto">
		select * from cboard where eno = #{eno} order by cno desc
	</select>
	
	<!-- 댓글 저장 -->
	<insert id="insertCboard">
		<!-- cno 먼저 가져오기 -->
		<selectKey resultType="int" keyProperty="cno" order="BEFORE">
			select cboard_seq.nextval from dual
		</selectKey>
		insert into cboard values(
		#{cno},#{eno},#{id},#{cpw},#{ccontent},sysdate
		)
	</insert>
	<!-- // 댓글 수정 저장 -->
	<update id="updateCboard">
		update cboard set ccontent = #{ccontent}, cdate = sysdate where cno = #{cno}
	</update>
	
	<!-- // 댓글저장 - 저장된 댓글 가져오기 -->
	<select id="selectOneCboard" resultType="com.java.dto.CboardDto">
		select * from cboard where cno = #{cno}
	</select>
	
	<!-- 댓글삭제 -->
	<delete id="deleteCboard">
	 delete cboard where cno=#{cno}
	</delete>
	
	
</mapper>