<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- dao Interface 파일 위치 -->
<mapper namespace="com.java.dao.MemberMapper">

	<select id="memberSelect" resultType="com.java.dto.MemberDto"> <!-- id => MemberMapper의 메서드명 -->
		select * from member
	</select>
  
  
</mapper>