<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.java.dao.CustomerMapper">

	<!-- notice list -->
	<select id="selectAll" resultType="com.java.dto.BoardDto">
		
		select * from board order by bgroup desc, bstep asc
	</select>
	
	
	
	<!-- nview -->
	<!-- 1개 게시글 -->
	<select id="selectOne" resultType="com.java.dto.BoardDto">
		select * from board where bno = #{bno}
	</select>
	<!-- 이전 게시글 -->
	<select id="selectPrev" resultType="com.java.dto.BoardDto">
		select * from board where bno = (
		select prev_bno from
		(select bno,lead(bno,1,-1) over(order by
		bgroup desc, bstep asc) as prev_bno
		from board) where bno = #{bno})
	</select>
	<!-- 다음 게시글 -->
	<select id="selectNext" resultType="com.java.dto.BoardDto">
		select * from board where bno = (
		select prev_bno from
		(select bno,lag(bno,1,-1) over(order by
		bgroup desc, bstep asc) as prev_bno
		from board) where bno = #{bno})
	</select>
	
</mapper>