<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.java.dao.EventMapper">

<!-- 이벤트리스트 가져오기 -->
<select id="selectAll" resultType="com.java.dto.EventDto">
	select * from event where rownum between 1 and 4 order by eno desc
</select>

<!-- 이벤트 상세보기 -->
<select id="selectOne" resultType="com.java.dto.EventDto">
	select * from event where eno = #{eno}
</select>

<!-- 전체 댓글 가져오기 -->
<select id="selectAllCboard" resultType="com.java.dto.CboardDto">
		select * from cboard where eno = #{eno} order by cno desc
</select>


</mapper>