<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<mapper namespace="com.java.dao.MemberBoardMapper">

	<!-- 주문 배송 조회 -->
	<select id="selectAll" resultMap="mbDtoMap">
		select * from member a, board b where a.id=b.id and a.id='bbb'
	</select>
	
	<resultMap id="mbDtoMap" type="com.java.dto.MemberBoardDto" >
		<collection property="memberDto" resultMap="memberDtoMap"/>
		<collection property="boardDto" resultMap="boardDtoMap"/>
	</resultMap>
	
	<!-- MemberDto 설정 -->
	<resultMap id="memberDtoMap" type="com.java.dto.MemberDto">
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="gender" property="gender"/>
		<result column="hobby" property="hobby"/>
		<result column="mdate" property="mdate"/>
	</resultMap>
	
	<!-- BoardDto 설정 -->
	<resultMap id="boardDtoMap" type="com.java.dto.BoardDto">
		<result column="bno" property="bno"/>
		<result column="btitle" property="btitle"/>
		<result column="bcontent" property="bcontent"/>
		<result column="id" property="id"/>
		<result column="bgroup" property="bgroup"/>
		<result column="bstep" property="bstep"/>
		<result column="bindent" property="bindent"/>
		<result column="bhit" property="bhit"/>
		<result column="bdate" property="bdate"/>
		<result column="bfile" property="bfile"/>
	</resultMap>
		
</mapper>